<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139399214689-82vubtvk584gln9aeuk86k8seu4pc6lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139399214689-82vubtvk584gln9aeuk86k8seu4pc6lu</string>
	<key>API_KEY</key>
	<string>AIzaSyCv-_fccNMLcVyk2xqinq4jX28r4_TOmMI</string>
	<key>GCM_SENDER_ID</key>
	<string>139399214689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.image</string>
	<key>PROJECT_ID</key>
	<string>suri-d1c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>suri-d1c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139399214689:ios:65a0f7baa24946932b5c20</string>
</dict>
</plist>